{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'quizes/main.js'%}" defer></script>
{% endblock scripts %}

{% block title %}
    home
{% endblock title %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Start?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body-confirm"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">no</button>
        <button type="button" id="start-button" class="btn btn-success">yes</button>
      </div>
    </div>
  </div>
</div>
    {% if not request.user.is_authenticated %}
        <form method="get" action="{% url 'login' %}">
            <input type="submit" value="Login">
        </form>
        <form method="get" action="{% url 'register' %}">
            <input type="submit" value="Registration">
        </form>
        <br>
        <div class="h3">Quiz list</div>
    <hr>
    {% for obj in object_list %}
        <button
            class="btn btn-link modal-button"
            data-pk="{{obj.pk}}"
            data-quiz="{{obj.name}}"
            data-question="{{obj.number_of_question}}"
            data-difficulty="{{obj.difficulty}}"
            data-time="{{obj.time}}"
            data-pass="{{obj.required_score_to_pass}}"
            data-toggle="modal"
            data-target="#quizStartModal">
            {{obj.name}}
        </button><br>
    {% endfor %}
    {% endif %}
    {% if request.user.is_superuser %}
        <form method="get" action="{% url 'quiz_create' %}">
            <input type="submit" value="Create quiz">
        </form>
        <form method="get" action="{% url 'question_create' %}">
            <input type="submit" value="Create question">
        </form>
        <form method="get" action="{% url 'logout' %}">
            <input type="submit" value="Logout">
        </form>
    {% endif %}
    {% if request.user.is_authenticated %}
        <form method="get" action="{% url 'logout' %}">
            <br>
            <input type="submit" value="Logout">
        </form>
    <div class="h3">Quiz list</div>
    <hr>
    {% for obj in object_list %}
        <button
            class="btn btn-link modal-button"
            data-pk="{{obj.pk}}"
            data-quiz="{{obj.name}}"
            data-question="{{obj.number_of_question}}"
            data-difficulty="{{obj.difficulty}}"
            data-time="{{obj.time}}"
            data-pass="{{obj.required_score_to_pass}}"
            data-toggle="modal"
            data-target="#quizStartModal">
            {{obj.name}}
        </button><br>
    {% endfor %}
    {% endif %}
{% endblock %}